.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: auto;
    align-items: center;
    justify-content: center;
  }
  
  .borderWrapper {
    border: 1px solid yellow;
    position: relative;
    width: 80%;
    height: 60vh;
  }
  
  .topLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    transform: translate3d(-2px, -2px, 0);
    border-top: 4px solid yellow;
    border-left: 4px solid yellow;
  }
  
  .topRight {
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    transform: translate3d(2px, -2px, 0);
    border-top: 4px solid yellow;
    border-right: 4px solid yellow;
  }
  
  .bottomLeft {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    transform: translate3d(-2px, 2px, 0);
    border-bottom: 4px solid yellow;
    border-left: 4px solid yellow;
  }
  
  .bottomRight {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    transform: translate3d(2px, 2px, 0);
    border-bottom: 4px solid yellow;
    border-right: 4px solid yellow;
  }
  
  .topLine {
    position: absolute;
    top: 0;
    left: 50%;
    border: 2px solid yellow;
    width: 30%;
    transform: translate(-50%, -50%);
  }
  
  .bottomLine {
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 2px solid yellow;
    width: 30%;
    transform: translate(-50%, 50%);
  }
  
  .heading {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .innerWrapper{
    position: absolute;
    height: 96%;
    width: 96%;
    top: 2%;
    left: 2%;
    background-color: rgba(255, 255, 0, 0.1);
  }

  .text{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .text>h3{
    top: 10px;
    position: relative;
    width: 90%;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .answerText{
    width: 75%;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 300;
  }
  
  .cardHolder{
    display: flex;
    width: 90%;
    padding-top: 0.4rem;
    justify-content: space-around;
    
  }